DirectoryIndex index.html

ErrorDocument 404 /404.html

#对目录设置访问权限
<Files .htaccess>
	order allow,deny
	deny from all
</Files>
#以避免目录列表
Options -Indexes

#发现服务器启用了TRACE Method
RewriteCond %{REQUEST_METHOD} ^TRACE
RewriteRule .* - [F]

#更改字符集和语言的头文件
AddDefaultCharset UTF-8
DefaultLanguage zh-CN

#设置服务器的时区（GMT）
SetEnv TZ Asia/Shanghai

#设置允许和不允许访问的IP
# no nasty crackers in here!
order allow,deny
allow from all
#deny from all
#allow from 192.168.0.0/24
# this would do the same thing..
#allow from 192.168.0

#从旧的文件重定向到新
#Redirect?301?/old/file.html?http://yourdomain.com/new/file.html??
#RedirectMatch 301 /blog(.*) http://yourdomain.com/$1

#压缩
<ifmodule mod_deflate.c>
SetOutputFilter DEFLATE
#DeflateCompressionLevel 9
AddOutputFilterByType DEFLATE text/* application/x-httpd-php application/x-javascript css/css
AddOutputFilter DEFLATE js css html
#SetEnvIfNoCase Request_URI  \
#        \.(?:gif|jpe?g|png)$ no-gzip dont-vary
#SetEnvIfNoCase Request_URI  \
#        \.(?:exe|t?gz|zip|gz2|sit|rar)$ no-gzip dont-vary
</ifmodule>

#设置缓存
<ifmodule mod_headers.c>
<FilesMatch ".(html|htm|php|txt)$">
Header set Cache-Control "max-age=600"
</FilesMatch>

<FilesMatch ".(gif|jpg|jpeg|png|ico|css|js)$">
Header set Cache-Control "max-age=604800"
</FilesMatch>
</ifmodule>

Options +FollowSymLinks
RewriteEngine On
#RewriteCond %{HTTP_HOST} ^www.movie002.com$ [NC]
#RewriteRule ^(.*)$ http://movie002.com/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^movie002.com$ [NC]
RewriteRule ^html/(.*)$ http://v.movie002.com/html/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^movie002.com$ [NC]
RewriteRule ^index/(.*)$ http://v.movie002.com/index/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^db.movie002.com$ [NC]
RewriteRule ^(.*)$ http://v.movie002.com/$1 [L,R=301]

#防止.svn被访问
RewriteBase /
RewriteRule ^.svn/.*  ./404.html

RewriteBase /
RewriteRule ^.*/.svn/.*  ./404.html

#RewriteCond %{HTTP_HOST} ^199.180.255.28$ [NC]
#RewriteRule ^(.*)$ http://movie002.com/$1 [R=301,L]

##防止别人的域名解析到你的IP
#RewriteCond %{HTTP_HOST} !(^movie002.com$) [NC]
#RewriteRule ^(.*)$ http://www.movie002.com/$1 [R=301,L]

##示例: 0/49/4910.html-->0/49/10.html
##%{HTTP_HOST}符合条件
RewriteCond %{HTTP_HOST} ^movie002.com$ [NC]
RewriteRule ^html/([0-9]+)/([0-9]+)/([0-9]{1,2})([0-9]{2}).html$ http://v.movie002.com/html/$1/$2/$4.html [R=301,L]