html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{background:transparent;margin:0;padding:0}body{font-size:14px;width:auto;height:auto;line-height:1.6;font-style:normal;-webkit-text-size-adjust:none;background:#8f8f8f;color:#000;margin:0}li{list-style:none}img{border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;-moz-border-radius:3px;border:1px solid #ccc;padding:0}a{text-decoration:none;color:#2a2a2a}a:visited{color:#841a75}a:hover{color:#F60;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;text-decoration:underline}.rt60v8{position:absolute;top:8px;right:60px}.rt5v8{position:absolute;top:8px;right:5px}.rt60v2{position:absolute;top:2px;right:60px}.rt5v2{position:absolute;top:2px;right:5px}.rt100v2{position:absolute;top:2px;right:100px}.rt140v2{position:absolute;top:2px;right:140px}.rt180v2{position:absolute;top:2px;right:180px}.rt260v2{position:absolute;top:2px;right:260px}.rt340v2{position:absolute;top:2px;right:340px}.rt420v2{position:absolute;top:2px;right:420px}.rt500v2{position:absolute;top:2px;right:500px}.rt5v28{position:absolute;top:28px;right:5px}.rt7v10{position:absolute;top:10px;right:7px}.rt2v0{position:absolute;top:0;right:2px}.rt0v0{position:absolute;top:0;right:0}.rt0v5{position:absolute;top:0;right:5px}.lt40v0{position:absolute;top:0;left:40px}.lt45v2{position:absolute;top:2px;left:45px}.lt45v22{position:absolute;top:22px;left:45px}.lt40v2{position:absolute;top:2px;left:40px}.lt2v0{position:absolute;top:0;left:2px}.lt35v10{position:absolute;top:35px;left:10px}.color555{color:#555}.color777{color:#777}.f12px{font-size:12px}.f14px{font-size:14px}.line1{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:break-all;display:inline-block}.h154px{height:154px}.width90pre{display:inline-block;width:60%}.w100pre{display:inline-block;width:100%}.vtop{vertical-align:top}.cred{color:#a01200}.c2{color:#f5041d}.c3{color:#376a77}.c4{color:#e3236d}.c5{color:#cc1e5c}.c6{color:#044c82}.lqc0{color:#bbb}.lqc1{color:#aaa}.lqc2{color:#888}.lqc3{color:#666}.lqc4{color:#444}.lqc5{color:#222}.lqc6{color:#000}.border1{border:1px solid #759CC2}.bb{border-bottom:1px solid #999}.bt{border-top:1px solid #999}.br{border-right:1px solid #999}.bl{border-left:1px solid #999}.cpright{font:12px Arial,Helvetica,sans-serif}.anchor{position:absolute;top:-100px}.second_title{color:#52686f;font-weight:700}.browse{margin:0 0 10px}.none{display:none}#sub-title{position:absolute;top:7px;right:400px}#sub_date{position:absolute;top:7px;right:10px}.order{position:absolute;top:-35px;left:15px;padding-top:0;height:80px;width:160px}.order a{height:73px;width:160px;display:block}.order a :hover{text-decoration:none}.cp{cursor:pointer}#searchform{line-height:28px;margin:0;padding:0}#searchmiddle{position:absolute;top:10px;right:10px}#titleimg{height:73px;width:160px}.searchinput{width:250px;background:#fff;border:1px solid #e0e0e0;color:#777;margin:0;padding:4px}.searchinput:focus{border:1px solid #191919;color:#000}.searchsubmit{width:50px;background:#576d74;border:1px solid #ddd;font-weight:700;color:#ddd;text-align:center;-moz-border-radius:5px;border-radius:5px;margin:0;padding:4px 0}.top_content{border:1px dashed #898f8f;height:30px;margin:10px 0;padding:0}.iframe_next{width:40px;font-size:12px;position:absolute;top:7px;right:0;cursor:pointer}code{font-family:"Courier New", Courier, monospace;font-size:1em;white-space:pre;color:#d14;background-color:#f7f7f9;border:1px solid #e1e1e8;padding:2px 4px}code,pre{font-family:Monaco,Menlo,Consolas,"Courier New",monospace;font-size:12px;color:#333;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;padding:0 3px 2px}pre{display:block;font-size:13px;line-height:20px;word-break:break-all;word-wrap:break-word;white-space:pre-wrap;background-color:#f5f5f5;border:1px solid rgba(0,0,0,0.15);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin:0 0 10px;padding:9.5px}pre.prettyprint{margin-bottom:20px}pre code{color:inherit;background-color:transparent;border:0;padding:0}#service_list{color:#ddd;padding-top:1px;background:#576d74}#service_list a,#service_list a:link,#service_list a:visited{color:#ddd;text-decoration:none}#service_list a:hover,#service_list a:active{color:#fff;text-decoration:none}#service_list_inner{position:relative;height:40px;margin:0 auto;padding:0 10px}#service_list_inner ul{position:absolute;top:0;left:200px;margin-left:-10px}#service_list_inner li{list-style:none;float:left;margin:0;padding:8px 10px}#global_nav{border-top:1px solid #ddd;border-bottom:1px solid #ccc;background:#fafafa}#global_nav_inner{position:relative;height:45px;margin:0 auto;padding:0 10px}.topnav{z-index:9999;position:relative;margin:0;padding:2px 0 1px}.topnav ul{float:left;list-style:none;margin:0;padding:0}.topnav li{float:left;list-style:none;text-transform:uppercase;margin:0;padding:0}.topnav ul li{list-style:none;border-right:1px solid #898f8f;-moz-opacity:.95;opacity:.95;margin:0 3px 0 0;padding:0}.topnav li ul{z-index:9999;width:146px;position:absolute;margin:0;padding:0}.topnav li li{border:none}.topnav li a,.topnav li a:link,.topnav li a:visited{display:block;color:#111;margin:0;padding:6px 12px}.topnav li a:hover,.topnav li a:active{display:block;text-decoration:none;border-bottom:none;background:#52686f;color:#fff;-moz-border-radius:0 0 0 10px;border-radius:0 0 0 10px;-webkit-transition:all .15s linear;transition:all .15s linear;margin:0}.topnav li li a,.topnav li li a:link,.topnav li li a:visited{float:none;width:120px;border:1px solid #898f8f;border-top:none;background:#f7f3ed;margin:0;padding:6px 12px}.topnav li li a:hover,.topnav li li a:active{background:#52686f;padding:6px 12px}.topnav li ul ul{margin:-29px 0 0 144px}.topnav li:hover ul ul,.topnav li ul,.topnav li:hover ul ul ul,.topnav li .sfhover ul ul,.topnav li .sfhover ul ul ul{left:-999em}.topnav li:hover ul,.topnav li li:hover ul,.topnav li li li:hover ul,.topnav li .sfhover ul,.topnav li li .sfhover ul,.topnav li li li .sfhover ul{left:auto}.topnav li:hover,.topnav li.sfhover{position:static}.topnav .left a{margin:0;padding:0 5px}.menunav{border-bottom:2px solid #252525;margin:0 0 10px}#wrapper{background:#EEE;margin:0 auto;padding:0}.width_1{width:1000px}.width_2{width:970px}.width_3{width:750px}#header{position:fixed;left:0;top:0;width:100%;box-shadow:0 0 5px rgba(0,0,0,0.2);z-index:999}#middle{padding-top:100px;margin:0 auto}#content_index{float:left;width:100%;margin-top:0}#content{float:right;margin-top:10px;margin-right:5px;border:1px solid #ccc}.listcontent ul li{line-height:150%;border-bottom:1px solid #bbb;position:relative;margin:5px;padding:2px}#sidebar{float:left;width:200px;}.sidebar_wrapper{margin-bottom:10px}.sidebar_title{font-weight:700;font-size:14px;z-index:1;overflow:hidden;border-top:2px solid #576d74;border-bottom:1px solid #576d74;margin:0;padding:10px 0 5px}.sidebar_title a{padding-right:12px}.sidebar_content{position:relative;overflow:hidden}.sidebar_content ul li{position:relative;border-bottom:1px solid #ddd;overflow:hidden;line-height:180%;padding:12px}#footer{clear:both;text-align:center;font-size:12px;padding:10px 0}#footer-nav{border-top:1px solid #ccc;margin:5px 0 0;padding:8px 0}#footer-nav ul,#footer-nav li{list-style:none;margin:0;padding:0}#footer-nav li{float:left;padding-right:6px;line-height:1}a.gotop_btn{text-align:center;position:fixed;left:50%;margin-left:500px;top:300px;font-weight:700;font-size:11px;width:35px;background:#576d74;line-height:15px;color:#999;display:block;padding:10px 0 8px}a.gotop_btn:hover{background:#374d54;text-decoration:none;color:#bbb}a.gotop_btn:visited{color:#999}a.gotop_btn_up{top:300px;display:none;border-radius:10px 10px 3px 3px;-webkit-border-radius:10px 10px 3px 3px;-khtml-border-radius:10px 10px 3px 3px;-moz-border-radius:10px 10px 3px 3px}.bt2{border-top:2px solid #444}.middle_action{margin-left:-175px;position:fixed;left:50%;top:300px;font-weight:700;font-size:11px;width:350px;background:#fff;color:#999;border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;-moz-border-radius:10px;z-index:9999;padding:20px}.left,.fl{float:left}.right,.fr{float:right}.f500,.fwn,.menunav li{font-weight:400}.f700,#movie002_day_1,#movie002_width_1{font-weight:700}.c1,.c7{color:#8f012c}

.rt45v2
{
    position:absolute;right:45px;top:2px
}

.searchfilter a:visited
{
    color:#ddd
}
.searchfilter
{
    margin:5px 5px 5px 0
}

.tc a
{
    border:1px solid #ddd;
    padding:1px;
    color:#000;
    cursor: pointer;
    margin:2px 1px;
    float:left;
    display:block;
}
.tc a:hover
{
    border:1px solid #F60;
    color:#F60;
    text-decoration: none;
}

.ac
{
	margin:5px 0;
}

.ac a
{
    border:1px solid #ddd;
    padding:3px 2px;
    color:#000;
    cursor: pointer;
    margin:1px;
    text-decoration: none;	
}
.ac a:hover
{
    border:1px solid #F60;
    color:#F60;
}
.cred
{
	color:#a01200;
}
.lifloat
{
   	z-index:1;
	overflow:hidden;
    margin-bottom:5px;
}

b{font-size:14px}
.page_navi {
width:100%;
text-align:left;
overflow:hidden;
margin:10px 0;
padding:10px 0
}

.page_navi a {
text-decoration:none;
color:#888;
border:1px solid #ccf;
-moz-border-radius:6px;
-webkit-border-radius:6px;
margin:2px;
padding:3px 8px
}

.page_navi a:hover,.page_navi a.current {
border:1px solid #3c8266;
background:#dddddd;
text-decoration:none;
-webkit-transition: all .25s linear;
transition: all .25s linear;
}

.page_navi .current {
border:1px solid #356aa0;
color:#356aa0;
font-weight:bolder;
margin:2px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
padding:3px 8px
}

.pagesNav
{
	padding:0 0 5px 15px;
	z-index:1;
	overflow:hidden;
	margin: 5px 0 0 0;
}

.pagesNav ul
{
	padding:0 10px;
	z-index:1;
	overflow:hidden;
	max-width:80%;
}
.pagesNav li
{
	border: 1px solid #ccc;
	cursor: pointer;
	margin: 2px 5px 0 0;
	float: left;
	width: 20px;
	text-align: center;
	line-height: 1.1;	
}

.pagesNav li:hover
{
	border:1px solid #f90;
	color: red;
}

.pagesNav .cur
 {
	border:1px solid #f90;
	color: red;
}
